.card {
  background-color: rgb(31, 38, 47) !important;
  box-shadow: 0 1px 10px  rgba(125, 122, 122, 0.9);
}

.card:last-child {
  margin-bottom: 60px !important;
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 0.9rem;
}

.vertical-line {
  height: 100%;
  min-height: 100%;
  width: 1px;
  opacity: 0.5;
  background-color: aliceblue;
}


.carousel-indicators [data-bs-target] {
  border-top: 2px solid #f5f5f5 !important;
  border-bottom: 2px solid #f5f5f5 !important;
}


@media ( width <= 576px ) {
  .card-flex-container{
    flex-direction: column;
  }

  .card__buttons{
    width: 100% !important;
    margin-top: 20px;
  }

  .vertical-line {
    display: none;
  }

  .horizontal-line {
    width: 80%;
    min-width: 80%;
    height: 1px;
    opacity: 0.5;
    background-color: aliceblue;
  }

}

@media ( 576px <= width <= 768px ) {
  .card-flex-container{
    flex-direction: column;
  } 

  .card__buttons{
    width: 100% !important;
    margin-top: 20px;
    gap: 0 17px
  }

  .vertical-line {
    display: none;
  }

  .horizontal-line {
    width: 80%;
    min-width: 80%;
    height: 1px;
    opacity: 0.5;
    background-color: aliceblue;
  }
}