.form-container {
  min-height: 88vh;
}

.form {
  width: 400px;
  background-color: rgb(31, 38, 47);
  padding: 27px;
  box-shadow: 0 2px 10px 3px rgba(125, 122, 122, 0.9);
}

#description {
  resize: none;
}

.drag-drop-container {
  border: 1px dashed #fff;
  border-radius: 7px;
  background-color: #32363A;
  color: #fff;
  height: 100px;
  width: 100%;
}

.space-btns {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.drag-drop-container:hover {
  cursor: pointer;
}


.ellipsis {
  overflow: hidden;           
  text-overflow: ellipsis;    
  white-space: nowrap;        
}

.table-container {
  background-color: #1F262F;
  max-height: 150px !important;
  overflow-x: hidden;
  overflow-y: auto !important;
}





.td-image-url {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.img-url {
  font-size: small;
}


